[Desktop Entry]
Comment[en_US]=
Comment=
Exec=#MY_PATH#/safe-eyes-cli/safe-eyes.sh start
GenericName[en_US]=
GenericName=
Icon=
MimeType=
Name[en_US]=safe-eyes.sh
Name=safe-eyes.sh
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
